table {
    border-collapse: collapse;
    width: 100%;
    overflow-wrap: anywhere;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
}

td:nth-child(1) {
    width: 25%
}

th {
    font-weight: bold;
    background-color: aliceblue;
}

tr:nth-child(even) {
    background-color: #eee;
}